@use "@/styles/variables.scss"  as *;
.backdrop {
  position: fixed;
  inset: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: .4rem;
}

.modal {
  position: relative;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  height: auto;
  width: auto;
  max-width: 99%;
  max-height: 99%;
  padding: 1rem;
  overflow-y: auto;
}
.small {
  width: 300px;
  height:auto;
}
.med {
  width: 500px;
  height:auto;
}
.large {
  width: 100%;
  height: 100%;
   @media (min-width: $mobile) {
       width: 95%;
      height: 95%;
    }
}
.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;

  &:hover {
    color: #000;
  }
}
